body {
  background-color: #3e474f;
  font-family: 'Asar', serif;
}

.main-content{
  color: white;
  font-size: 4em;
  margin-top: 8%;
  margin-bottom: 4%;
}

.social{
  width: 5em;
  height: auto;
  /*margin-right: 1%;*/
}


.email{
  width: 6em;
  height: auto;
  /*margin-right: 1%;*/
}



.connect hr {
  /*margin-bottom: 30px;*/
  border-width: 2px;
  border-style: solid;
  border-color: #4aaaa5;
}

.connect{
  margin-top: 7.5%;
  color: darkgray;
}


/*blinking cursor*/
.blinking-cursor {
  position: relative;
  bottom: 8px;
  font-weight: 100;
  font-size: 40px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}


.navbar-default {
  background-color: #3e474f;
  border-color: #4aaaa5;
  border-bottom-width: 3px;
}
.navbar-default .navbar-brand {
  color: #c7cbcc;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #bbeaff;
}
.navbar-default .navbar-text {
  color: #c7cbcc;
}
.navbar-default .navbar-nav > li > a {
  color: #c7cbcc;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #bbeaff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #3e474f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #c7cbcc;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #bbeaff;
  background-color: #4aaaa5;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #4aaaa5;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #bbeaff;
  background-color: #4aaaa5;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #bbeaff;
  background-color: #4aaaa5;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #bbeaff;
  background-color: #4aaaa5;
}
.navbar-default .navbar-toggle {
  border-color: #4aaaa5;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #4aaaa5;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #c7cbcc;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #c7cbcc;
}
.navbar-default .navbar-link {
  color: #c7cbcc;
}
.navbar-default .navbar-link:hover {
  color: #bbeaff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #c7cbcc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #bbeaff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #bbeaff;
    background-color: #4aaaa5;
  }
}

.navbar, .navbar-brand {
  font-size: 1.5em;
  /*padding: 10px 0;*/
}

.navbar-default {
  padding: 5px 0;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.thumbnail {
  height: 96%;
}

h1 {
  color: white;
  margin-bottom: 2%;
}

/*form css*/

.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	}
